{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <h1 class="mb-4">Create new Task</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_task_index') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}